.main-1 {
        position: absolute;
        width: 1034px;
        height: 38px;
        left: 232.09px;
        top: 510.22px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0.96)), #141D26;
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0px;
}

.underline {
        position: absolute;
        width: 154.85px;
        left: 0px;
        top: 36px;
        border: 2px solid #C51F5D;
}
