html, body{
	padding: 0;
	overflow-x: hidden;
	overflow-y: visible;
}
* {
	margin: 0;
}
::-webkit-scrollbar{
	width: 8px;
	background: rgba(0,0,0,0.9);
	border-radius: 5px;
}
::-webkit-scrollbar-thumb{
	width: 4px;
	background: #f1f1f1;
	border-radius: 5px;
}
header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
	width: 100vw;
	background: #FFFAFA;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);

}
#head-left{
	background-image:  url("assets/logo_main.png");
	width: 10%;
	height: 100%;
	margin-left: 3%;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#head-center{
	width: 24%;
	height: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
div#head-center a{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 30%;
	height: 100%;
	text-align: center;
	text-decoration: none;
	color: black;
	transition: 0.2s;
	font-family: Roboto;
}
div#head-center a:hover{
	background-color: rgba(240, 240, 240, 1.0);
	border-bottom: 5px solid red;
}
div#head-center a:active{
	border-bottom: 10px solid hotpink;
}
#head-right{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 30%;
	height: 60%;
	gap: 15px;
}
#head-right input{
	width: 50%;
	height: 100%;
	border-radius: 5px;
	border: 1px solid rgb(230, 230, 230);
	box-shadow: 2px 3px 0 0 whitesmoke;
	background-image: url("assets/search.png");
	text-indent: 30px;
	background-size: auto 90%;
	background-repeat: no-repeat;
}
#head-right span{
	height:  80%;
	width: auto;
	border-radius: 50%;
}
#head-right span img{
	height: 100%;
	width: auto;
}
nav{
	width: 15vw;
	height: 200vh;
	background-color: black;
	margin: 0;
	position: sticky;
}
#home{
	background: linear-gradient(282.24deg, #F8E8E8 5.21%, #FAD1FA 105.14%);
	height: 80vh;
	width: 85vw;
	position: relative;
	margin: 0;
}
section#home-container{
	height: 92vh;
	width: 100vw;
	background-color: white;
	position: relative;
	display: flex;
}