*{
margin:0;
padding:0;
}

.body{
background: rgb(255,255,255);
}

.navbar{
background: rgba(255,250,250,250);
display: flex;
centre-content:flex-end;
padding:7px;
font-size:100%;
height:32px;
width:100%;
font-family:Arial;
}

.course{
padding:0px;
font-size:25px;
margin-left:15px;
}

.techno{
left-content;
margin-left:17px;
font-size:15px;
}

.tabs{
margin-left:350px;
padding:7px;
}

.tab1, .tab2, .tab3{
padding:12px;
margin-top:10px;
}

.tab1{
margin-left:15px;
}

.tab2{
margin-left:50px;
margin-right:35px;
}

.tab3{
margin-left:15px;
margin-right:25px;
}

.right{
padding:7px;
display:flex;
margin-left:155px;
size:35px;
}

.magnify{
margin-right:10px;
}

.form{
height:25px;
margin-right:50px;
width:200px;
}

.gift, .notify, .user:hover{
margin-right:25px;
cursor:pointer;
}
