.nav2{
    position: static;
width: 135px;
height: 248px;
left: 0px;
top: 0px;


/* Inside auto layout */


order: 0;

margin: 12px 0px;
}
/*#main-table{
padding: 0px;

position: static;
width: 135px;
height: 248px;
left: 70px;
top: 0px;
order: 0;
margin: 12px 0px;
}*/


#home{
    justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 70px;
left: 8.55px;
top: 19.63%;
bottom: 20.37%;

}
#Compass
{
    justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 82px;
left: 8.55px;
top: 25.63%;
bottom: 20.37%;

}
#Book{
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 87px;
left: 8.55px;
top: 31.63%;
bottom: 20.37%;
}
#GitMerge{
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 93px;
left: 8.55px;
top: 37.63%;
bottom: 20.37%;
}
#PokerChip{
    justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
width: 110px;
left: 8.55px;
top: 43.63%;
bottom: 20.37%;


}
#space{
    position: absolute;
width: 105px;
height: 14px;
left: 73.55px;
top: 320.08px;

font-family: 'Moderat';
font-style: 15px;
font-weight: 700;
font-size: 14px;
line-height: 14px;


}
#Personal{
    padding: 0px;

position: absolute;
width: 85px;
height: 192px;
left: 90px;
top: 354px;


}
#Bookmarks{
    position: static;
width: 71px;
height: 17px;
left: 0px;
top: 0px;

font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #141D26;
}
#Timelines{
    position: static;
width: 60px;
height: 17px;
left: 0px;
top: 35px;

font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #141D26;


}
#Comm{
    position: static;
width: 85px;
height: 17px;
left: 0px;
top: 70px;

font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #141D26;


}
#Posts{
    position: static;
width: 36px;
height: 17px;
left: 0px;
top: 105px;

font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #141D26;


}
#Peers{
position: static;
width: 36px;
height: 17px;
left: 0px;
top: 140px;

font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #141D26;
}
#Archieve{
    position: static;
width: 49px;
height: 17px;
left: 0px;
top: 175px;

font-family: 'Moderat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 17px;

/* identical to box height */

color: #141D26;




}